<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission Confirmation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="text-center">
            <h2 style="color: #007bff;">Su solicitud fue sometida con éxito</h2>
            <p style="color: #007bff;">¡Gracias por su solicitud! Estaremos en contacto en los próximos días.</p>
            <a href="{{ url_for('helloWorld') }}" class="btn btn-primary">Home</a>
        </div>
    </div>
</body>
</html>
